{% extends 'feature_request/base.html' %}
{% block content %}

<form method="post" novalidate>
    <div class="row">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    </div>

    <!-- buttons  -->
    <div class="row">
        <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add Request</button>
        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Request
        </button>
    </div>

    <!-- request list -->
    <ul class="taskList">
        {% for request in request_list %}
        <li class="taskItem">
            <input type="radio" class="taskCheckbox" name="checkedbox" id="{{ request.id }}" value="{{ request.id }}">
            <label for="{{ request.id }}">
                <span class="complete-">Priority: {{ request.priority }} ---> {{ request.title }}</span>
            </label>

        </li>
        {% endfor %}
    </ul>
</form>

{% endblock %}