{% extends "feature_request/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form method="post" novalidate>
				<span class="contact100-form-title">
					Submit a Feature Request
				</span>
            {% csrf_token %}
            {% include 'feature_request/bs4_form.html' with form=form %}

            <!-- Submit button -->
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Submit
						</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}